#main-navbar {

  li a {
    font-size: 20px;
  }

  a#logo {
    padding: 3px;
    font-size: 30px;
  }

  #add-recipe-btn {
    color: white;
  }

  #add-recipe-btn:hover {
    background-color: #5bc0d3;
  }

}
