#main-navbar {

  li a {
    font-size: 20px;
  }

  a#logo {
    padding: 3px;
    font-size: 30px;
  }

  #add-recipe-btn:hover {
    background-color: #111111;
    background-color: lighten(#5bc0d3, 5);
  }

  .nav-btn{
    height: 60px;
    margin: 5px;
  }

}
